.navbar{
    background-color: #B2DFDB;
}
.rock{
    font-size: 4.5vw;
    font-family: "Righteous", sans-serif;
    font-weight: 700;
  letter-spacing: 5px;
}
.paper{
    font-size: 4.5vw;
    font-family: "Sue Ellen Francisco", cursive;
    letter-spacing: 5px;
}
.sci{
    font-size: 4.5vw;
    font-family: "Send Flowers", cursive;
}
.score{
    background-color: #E0E0E0 ;
}
.topscore{
    font-family: "Fredoka", sans-serif;
    white-space: pre-wrap;
   font-size: 4vw;
}
.choice{
    width: 10vw;
 
}
.choicebut{
    margin:18px;
    background-color: #E0E0E0 ;
    box-shadow: 0 8px 4px 0 #585757, 0 12px 40px 0 #515353;
    border-radius: 100px;
    transition: 0.5s;
    border-color: #E0E0E0;
    border-style: double;
}
button:hover{
    box-shadow: 0 8px 4px 0 #B2DFDB, 0 12px 40px 0 #B2DFDB;
  transition: 0.5s;
  border-color: #000000;
}
.versus{
    font-family: "Fredoka", sans-serif;
    font-size: 10vw;
    position: relative;
    top: 90px;
}
.compu-choice {
    position: relative;
   top:90px;
}
.questionn{
    width: 28vw;
    margin-bottom:150px;
}
footer{
    background-color: #B2DFDB;
    color: #fff;
    text-align: center;
  }
  .plswork{
    font-family: 'Homemade Apple', cursive;
  }
  p{
    font-family: 'Englebert', cursive;
    margin: 0;
  }
  a{
    color: #bbbaba;
    font-family: 'Englebert', cursive;
  }