.navbar{
    background-color: #B2DFDB;
}
.rock{
    font-size: 2.5em;
    font-family: "Righteous", sans-serif;
    font-weight: 700;
  letter-spacing: 9px;
}
.paper{
    font-size: 2.5em;
    font-family: "Sue Ellen Francisco", cursive;
    letter-spacing: 9px;
}
.sci{
    font-size: 2.5em;
    font-family: "Send Flowers", cursive;
    letter-spacing: 9px;
}
.score{
    background-color: #E0E0E0 ;
}
.topscore{
    font-family: "Fredoka", sans-serif;
   white-space: pre-wrap;
   font-size: 28px;
}
.choice{
    width: 15vw;
}
.choicebut{
    margin:18px;
}
.versus{
    font-family: "Fredoka", sans-serif;
    font-size: 150px;
    position: relative;
    top: 65px;
}
.compu-choice {
    position: relative;
    top: 90px;
}
.questionn{
    width: 25vw;
}